@import "./colors";

body {
  background-color: $back-dark;
}

html {
  @apply antialiased;
  font-size: 15px;
  text-rendering: optimizeLegibility;

  @screen md {
    font-size: 18px;
  }

  box-sizing: border-box;
}
